html, body, #a {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

table {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0px;
    border-collapse: collapse;
}
table thead tr {
    height: 24px;
    text-align: left;
    vertical-align: top;
}
table tbody tr td#message {
    padding: 1em;
    height: 90px;
    text-align: left;
    vertical-align: center;
}
table tfoot tr td#choice {
    padding: 1em;
    text-align: left;
    vertical-align: top;
}

#panel, #image, #caption {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#panel {
    position: relative;
    z-index: 1;
}
#image {
    background: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    z-index: -1;
}
#caption {
    padding-left: 1em;
    display : flex;
    align-items : center;
}
#status {
    padding: 2px 1em;
    background: darkgray;
}
#week {
    float: left;
}
#money {
    float: right;
}
#script {
    background: burlywood;
}
#message {
    padding: 1em;
    line-height: 1.5em;
    font-weight: 600;
}
.buttons {
    padding: 1em 0em 0 0em;
    text-align: center;
}
.buttons button {
    padding: 1em 2em;
    margin: 0 0.5em;
    background-color: #e7e7e7;
    color: black;
    border: 0;
    width: 40%;
}
